body{
    background-color:orangered;
     font-size: 30px;
     font-weight: 500;
}


.centrado{
    text-align: center;
    color: orangered;


}

.nombres{
    color: orangered;
    font-size: 40px;
}
.nombres:hover{
    font-size: 40px;
    color: black;
}





   

